/*
Edit by Jiyun Han  
http://han.im
Gmail:ihanjiyun#gmail.com
Beijing China
Tue Jul 3 2012

                        /)
                       /' )
                      /'   (                          ,
                  __/'     )                        .' `;
          _.-~~~~'          ``---..__             .'   ;
     _.--'  b)                       ``--...____.'   .'
    (     _.      )).      `-._                     <
     `\|\|\|\|)-.....___.-     `-.         __...--'-.'.
       `---......____...---`.___.'----... .'         `.;
                                        `-`           `
`-------------.                                                               
                    -oyNNmdddho/::/oh/-::::::::::::::::::::::::::::::::::-                          
                    +MMMmdyy:-://:/ysy+/sdNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMs                          
                    +MNdy/``//:--:+yoy:::/+hNMMMMMMMMMMMMMMMMMMMMMMMMMMMMd++++++++++++++++++++://:  
                    +Nso. `+:-///o+o+++++hhydNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNms+sooy  
                    /h:+  ///ooos/::---..+mdNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNNmhy+oo++ooy  
                    /y-y.-sosshdossyyhhhysmNNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMdo///s.+s+/o++sy  
                    /m+y-dhsoshhydohmMMMNhmMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMd-./y.o//-/ooohNh  
                    +MNmo:o:o/+hyddmMMMNy:omMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNmy:.-/yos-..-ohNMMh  
                    +MMMNss:`s-o/+yhhhy+-:-sMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNmhs+:-../:o:-/-:sdNMMMMh  
   `````````````````+MMMMhsd+-+/o.......-/:dMMMMMMMMMMMMMMMMMMMMMMNmmmmdyo+...-:/+/::yo+smNNNNNNNy  
  `dddddddddddddddddmMMMMMho-:/o-.....-/o+odMMMMMMMMMMMMMMMNmNMNh+:---.....:+o+/--+mNh-----------.  
  `MMMMMMMMMMMMMMMMMMMMMMMMMd:/+--......-/sNMMMMMMMMMMMMMms/:od/.......:/o+::.-+yNMMMh              
  `MMMMMMMMMMMMMMMMMMMMMMMMMN:.:/://o++o++dNMMMMMMMNNNhsh/+s:y:......../-.../ymMMMMMMh              
  `MMMMMMMMMMMMMMMMMMMMMMMNNmo..-.-:+ymmhdmysoossyh+///s:od+:d...........:odNMMMMMMMMh              
  `MMMMMMMMMMMMMMMMMMNmdssso/h..+..../:do:+yo::::::::::y/om+:so.....-/-/hy///////////-              
  `MMMMMMMMMMMMMMMMNNdyyso:::y:.o-.../y/::::+ys/:::::::/s+y:::y+:+shmdmNMs                          
  `MMMMMMMMMMMMMMMmhysd++mysoyo.::.-sy/::::://ods:::::::s+o:/osmydNNMMMMMs                          
  `MMMMMMMMMMMMMm+::::sy/hdmhsd--sohs/oyhshoho++/:::::+/::/o++ohNMMMMMMMMs                          
  `MMMMMMMMMMMMd/::::::doodoymds-do/oooso/d/so:::/o++y+:::sdmNMMMMMMMMMMMs                          
  `MMMMMMMMMMNh/:::::::+h/m//odmdhhddhyyyyho+y::+dshy//ohmNMMMMMMMMMMMMMMs                          
  `MMMMMMMMMNy::::::::::d+syysoo++///////sys+h::+ddmdmNMMMMMMMMMMMMMMMMMMs                          
  `MMMMMMMMms::::::::s::yssyyo///////////////so:omNMMMMMMMMMMMMMMMMMMMMMMs                          
  `MMMMMMMm+::::::/+h+::hs+o+////////////////+h:dNMMMMMMMMMMMMMMMMMMMMMMMs                          
  `MMMMMMm+::::::/smm:::d/////////////////////ddNMMMMMMMMMMMMMMMMMMMMMMMMs                          
  `MMMMNd/::::/osyhmm::sy/////////////////////yNMMMMMMMMMMMMMMMMMMMMMMMMMs                          
  `MMMNh/:::::+oshNNmood+///////////////////+sdMMMMMMMMMMMMMMMMMMMMMMMMMMs                          
  `MMNh/::/::/++hNMNmhy+////////////////////shmMMMMMMMMMMMMMMMMMMMMMMMMMMs                          
  `NNd//+syso+odMMMNh///////////////////////omNMMMMMMMMMMMMMMMMMMMMMMMMMMs                          
 `hdyo///+oydh+dMMMNh////////////////////////hNMMMMs:::::::::::::::::::::-                          
 `Ndys//shhhyshNMMMNh////////////////////////omMMMM+                                                
 `Nd+//++sooo+yNMMMNh//++////////////////////odNMMM+                                                
 `Mdhysss/:-...+mMMNdss+/////////+++++ooooossdNMMMM+                                                
 `MMMmh:........sNNmys+++oooosyhhsooo++++////+NMMMM+                                                
 `MMMMMh/.....-/+mNNhyssyddho++oyhy+/::::::::+hMMMM+                                                
 `MMMMMMNs-...../yNMNo/o++syoooo++osys+/:::::/hNMMM+                                                
 `MMMMMMMMmo-....:ymmyosss+soh/:/+oo+/oso+:::::sNMM+                                                
 `MMMMMMMMMNdo-....odsoo/-s++//+/:::::::://:::::+dM+                                                
 `MMMMMMMMMMMNdo-:../....-+o+:::/++:::::::::::::::d/                                                
 `MMMMMMMMMMMMMMdho:-.......+o++/::+/:::::::::::::d/                                                
 `MMMMMMMMMMMMMMMmy.........:++os+::::::::::::::::d+                                                
 `MMMMMMMMMMMMMMNho++/..--+--+yhsh+:::::::::::::::h/                                                
 `MMMMMMMMMMMMMMm+:::/+o/-omssd+yd/:::::::::::::::y/                                                
 `MMMMMMMMMMMMMNh:::::::/oosy//+o+::::::::::::::::s/
*/
*{margin:0;padding:0;list-style:none;}
html,body{overflow: hidden}
/*html{background:#e0e0e0 fixed center center no-repeat url(../img/bg.jpg);background-size:cover;}*/
body{text-align:center;background:fixed center center #ddd no-repeat;background-size:cover;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
ul, ol{margin:0;padding:0;list-style: none}
.btn{-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);}
#imgContainer{width:100%;z-index: -10}
#wrapper{margin-top:50px;}
#me{ text-align:center;font-family: 'Righteous';font-weight: normal;font-size:60px;line-height:1.3;}

#avatar-w{position: relative;width:170px;height:170px;margin:0 auto;}
#avatar-w i#tip{width:95px;height:36px;position:absolute;left:120px;font-size:18px; text-align: right;z-index:4;font-family:"Handlee";color:#fff;background:url(../img/arrow.png) left 6px no-repeat;text-shadow:0 0 2px rgba(0,0,0,0.8);}

#avatar{ width:160px;height:160px;text-align:center;border: 4px solid rgba(255, 255, 255, 0.4);border-radius:50%;/*overflow: hidden;*/box-shadow:0 0 5px rgba(0,0,0,0.5);}
#avatar img{border-radius:50%;}
#avatar li{left:65px;top:65px;display:none;}
#avatar li#a-b{left:0;top:0;display:block;}
#avatar li a{display: inline-block;width:20px;height:20px;padding:5px;line-height:20px;color:#333;border-radius:50%;text-indent:-999em;overflow: hidden;box-shadow:0 0 3px rgba(0,0,0,0.4);background:url(../img/sns.png) 0 0 no-repeat;}
#avatar li a:hover{
	-webkit-transform: rotate(360deg); /* for Chrome || Safari */
	-moz-transform: rotate(360deg); /* for Firefox */
	-ms-transform: rotate(360deg); /* for IE */
	-o-transform: rotate(360deg); /* for Opera */

	-webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;

  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:alpha(opacity=8);
}
#avatar li#a-b a{display:inline-block;width:auto;height:auto;padding:0;background:none;line-height:auto;outline:none;text-indent:0;cursor: move;}
#avatar li#a-b a:hover{
	-webkit-transform: rotate(0deg); /* for Chrome || Safari */
	-moz-transform: rotate(0deg); /* for Firefox */
	-ms-transform: rotate(0deg); /* for IE */
	-o-transform: rotate(0deg); /* for Opera */

	opacity: 1;
    -moz-opacity:1;
    filter:alpha(opacity=10);
}
#nav-w{display:none;margin-top:20px;}
#nav{display:inline-block;margin:0 auto;}
#nav .btn a{display: block;padding:5px 10px;font-size:12px;text-decoration:none;color:#333;outline:none;}

#main{display:none;}
.cont{width:460px;margin:50px auto 0 auto;padding:10px 20px;text-align:left;font-size:14px;background :#fff;background:rgba(255,255,255,0.8);/*border-bottom: 2px solid #777;*/border-radius:10px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);text-shadow:0 1px 0 rgba(255,255,255,0.5);}
.cont p{padding:15px 0 0 0;margin:0;}
.cont ul{padding:15px 0 0 0;margin:0;}
.cont li{color: #666;font-size:12px;list-style: none ;padding:5px 0 5px 0px; margin: 0;}
.cont h3{font-size:50px;line-height:1.7;word-wrap: break-word;font-family:"Helvetica"; color:#333;text-align:center;font-weight:normal;text-shadow:none;padding-top:10px;}


#avatar a.icon_douban{background-position:0 0;}
#avatar a.icon_v2ex{background-position:0 -30px;}
#avatar a.icon_twitter{background-position:0 -60px;}
#avatar a.icon_facebook{background-position:0 -90px;}
#avatar a.icon_Gplus{background-position:0 -120px;}
#avatar a.icon_flickr{background-position:0 -150px;}
#avatar a.icon_github{background-position:0 -180px;}
#avatar a.icon_ikeepu{background-position:0 -210px;}
#avatar a.icon_fancy{background-position:0 -240px;}
#avatar a.icon_dribbble{background-position:0 -270px;}
#avatar a.icon_lastfm{background-position:0 -300px;}
#avatar a.icon_soundcloud{background-position:0 -330px;}

a.goto{display:inline-block;zoom:1;position: absolute; top:50px;background:#fff;background:rgba(255,255,255,0.8);font-size:30px;line-height:1.7;word-wrap: break-word;font-family:"Helvetica"; color:#333;text-align:center;/*text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;*/ }
a.goto i{display:inline-block;width:20px;height:20px;margin-top:7px;background:#333;border-radius:50%;font-size:20px;line-height:20px;color:#fff;font-style:normal;font-family:"lucida Console"; vertical-align: text-top; }
a.goto:hover{ text-decoration:none;color:#111;transition: 2s cubic-bezier(0, 1, 0, 1);}
a#link-blog:link{right:-200px;padding:10px 35px 5px 132px;outline:none;-webkit-transition: 0.4s;-moz-transition: 0.4s;transition: 0.4s;border-radius:0 100px 100px 0;}
a#link-blog:link i{margin-left:10px;}
a#link-blog:hover{right:-210px;padding-left:142px;background:rgba(0,0,0,0.8);color:#fff;-webkit-transition: 0.4s;-moz-transition: 0.4s;transition: 0.4s;}

a#link-work:link{left:-200px;padding:10px 132px 5px 34px;outline:none;-webkit-transition: 0.4s;-moz-transition: 0.4s;transition: 0.4s;border-radius:100px 0 0 100px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {/*chrome & safari hack*/
  a#link-work:link{padding:10px 132px 5px 35px;}
}
a#link-work:link i{margin-right:10px;}
a#link-work:hover{left:-210px;padding-right:142px;background:rgba(0,0,0,0.8);color:#fff;-webkit-transition: 0.4s;-moz-transition: 0.4s;transition: 0.4s;}

a#link-blog:hover i, a#link-work:hover i{background:#fff;color:#333;}

a.goto i b{display:inline-block;zoom:1;width:9px;height:13px;margin-left:-2px;background:url(../img/arrow_2.png) no-repeat;}
a#link-blog:link i b{margin-left:0px;margin-right:-2px;background-position:-9px 0;}
a#link-blog:hover i b{background-position:-9px -13px;}
a#link-work:hover i b{background-position:0px -13px;}



.jqHandle {
   background: red;
   height:15px;
}

.jqDrag {
  width: 100%;
  cursor: move;
}

.jqResize {
   width: 15px;
   position: absolute;
   bottom: 0;
   right: 0;
   cursor: se-resize;
}

.jqDnR {
    z-index: 3;
    position: relative;
    
    /*width: 180px;
    font-size: 0.77em;
    color: #618d5e;
    margin: 5px 10px 10px 10px;
    padding: 8px;
    background-color: #EEE;
    border: 1px solid #CCC;*/
}