<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>sinhoole-Mr.Zhang</title>
<link rel="shortcut icon" href="img/avatar_100x100.png" type="image/x-icon">
<meta name="author" content="zhang">
<meta name="description" content="zhang's website.">
<meta name="keywords" content="Mr.zhang">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="apple-touch-icon-precomposed" href="img/avatar_152x152.png" sizes="152x152">

<link rel="stylesheet" href="css/style.css">
<!-- <link rel="stylesheet" href="css/swiper.min.css"> -->
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-9097302-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-9097302-10');
</script>

</head>

<body>
    <div id="mimida"></div>
    <div id="container"></div>
    <div id="cont">
        <div id="main">
            <h1><span>Mr.zhang</span></h1>
            <h3>更新日志</h3>
            <p id="email">oliverwilliamzn@outlook.com</p>
            <dl id="nav">
                <dd><span>2023.05.19</span> MinA 1.0[蓝奏云密码：968i] <a href="https://wwrn.lanzoum.com/iABYA0wmrvxg" target="_blank">yangchacha</a></dd>
		<dd><span>2023.05.19</span> MinA 1.0[浏览器直链] <a href="https://creation.codemao.cn/434/DE875E54BEDE4F3FBF03C1A87FB28EA4/SINHOOLE.apk" target="_blank">yangchacha</a></dd>

	    </dl>
        </div>
    </div>
    <div id="works-wrap"></div>
    <footer>&copy; 2019</footer>

    <!-- 
    <script id="worksTpl" type="text/template">
        <div id="slider" class="swiper-container">
            <div class="swiper-wrapper">
            <% _.each(works, function(card, i) { %>
                <div class="swiper-slide" style="background-image: url(<%= card.image %>);">
                    <h1><%= card.title %></h1>
                </div>
            <% }); %>
            </div>
             
            <div class="swiper-pagination"></div>
        </div>
    </script>
    -->

    <script src="js/sketch.js"></script>
    <script src="js/jquery.1.7.2.min.js"></script>
    <!-- // <script src="js/template.js"></script> -->
    <!-- // <script src="js/swiper-3.0.7.min.js"></script> -->
    <!-- // <script src="js/velocity.min.js"></script> -->
    <!-- // <script src="js/velocity.ui.js"></script> -->
    <script src="js/app.js"></script>
</body>
</html>
