<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Jiyun Han</title>
<link rel="shortcut icon" href="img/avatar_100x100.png" type="image/x-icon">
<meta name="author" content="hanjiyun">
<meta name="description" content="hanjiyun,韩吉云,孬爷爷">
<meta name="keywords" content="hanjiyun 的个人网站">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="apple-touch-icon-precomposed" href="img/avatar_152x152.png" sizes="152x152">

<link rel="stylesheet" href="css/style.css">
<!-- <link rel="stylesheet" href="css/swiper.min.css"> -->
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
</head>

<body>
    <div id="mimida"></div>
    <div id="container"></div>
    <div id="cont">
        <div id="main">
            <h1><img src="img/avatar_100x100.png"> <span>Han</span></h1>
            <h3>Code + Design</h3>
            <p id="email">jiyun@han.im</p>
            <dl id="nav">
                <dt>Works Timeline:</dt>
                <dd>2010 <a href="http://www.jiyin.it" target="_blank">jiyin.it</a> (closed)</dd>
                <dd>2011 <a href="http://www.paiming.com" target="_blank">paiming.com</a> (closed)</dd>
                <dd>2012 <a href="http://www.biubiubiubiu.com" target="_blank">biubiubiubiu.com</a> - <a href="https://github.com/naoyeye/rhinoceros" target="_blank">github</a></dd>
                <dd>2013 <a href="http://36kr.com/p/206549.html" target="_blank">workor.com</a> (sold)</dd>
                <dd>2014 <a href="http://www.perber.com" target="_blank">perber.com</a> - <a href="https://github.com/naoyeye/Perber" target="_blank">github</a></dd>
                <dd>2014 Joined Wandoujia FE</dd>
                <dd>2014 <a href="http://xiamirun.avosapps.com/run?song=http://www.xiami.com/song/1774205606" target="_blank">xiamirun</a> - <a href="https://github.com/naoyeye/xiamiRun" target="_blank">github</a> </dd>
                <dd>2015 musicWeekly - <a href="https://github.com/naoyeye/musicWeekly" target="_blank">github</a></dd>
                <dd>2015 <a href="http://dabenji.doubanclock.com" target="_blank">doubanclock.com</a> - <a href="https://github.com/naoyeye/doubanAnimalClock" target="_blank">github</a></dd>
                <dd>2015 <a href="http://www.guanlema.com" target="_blank">guanlema.com</a> - <a href="https://github.com/naoyeye/guanlema" target="_blank">github</a></dd>
            </dl>
        </div>
    </div>
    <div id="works-wrap"></div>
    <footer>&copy; 2016</footer>

    <!-- 
    <script id="worksTpl" type="text/template">
        <div id="slider" class="swiper-container">
            <div class="swiper-wrapper">
            <% _.each(works, function(card, i) { %>
                <div class="swiper-slide" style="background-image: url(<%= card.image %>);">
                    <h1><%= card.title %></h1>
                </div>
            <% }); %>
            </div>
             
            <div class="swiper-pagination"></div>
        </div>
    </script>
    -->

    <script src="js/sketch.js"></script>
    <script src="js/jquery.1.7.2.min.js"></script>
    <!-- // <script src="js/template.js"></script> -->
    <!-- // <script src="js/swiper-3.0.7.min.js"></script> -->
    <!-- // <script src="js/velocity.min.js"></script> -->
    <!-- // <script src="js/velocity.ui.js"></script> -->
    <script src="js/app.js"></script>
    

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-9097302-10', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
